html {
    box-sizing: border-box;
}
*, *:before, :after {
    box-sizing: inherit;
}

body {
    display: flex;
    min-height: 100vh;
    background: #222222;
}

.horloge {
    position: relative;
    width: 500px;
    height: 500px;
    margin: auto;
    background: #fff;
    border-radius: 50%;
}

.heure, .heure-minutes {
    position: absolute;
    width: 2em;
    height: 1em;    
    left: calc(50% - 1em);
    top: 1em;
    transform-origin: center calc(250px - 1em);
}

.heure {
    top: 0.3em;
    font-size: 2em;
    font-weight: bold;
    transform-origin: center calc(250px - 0.3em);
}

span {
    display: block;
    width: 2em;
    height: 1em;
    text-align: center;
}

@for $i from 1 through 60 {
    .heure-minutes:nth-child(#{$i}) {
        transform: rotate(#{$i * 6}deg);
    }
}

.aiguille {
    width: 0.5em;
    height: 200px;
    position: absolute;
    background: red;
    left: 246px;
    top: 50px;
    transform-origin: center bottom;

    &.secondes {
        animation: secondes 60s infinite linear;
    }

    @keyframes secondes {
        to {
            transform: rotate(1turn);
        }
    }

    &.minutes {
        animation: minutes 3600s infinite linear;
    }
    @keyframes minutes {
        to {
            transform: rotate(1turn);
        }
    }

    &.heures {
        animation: heures 12960000s infinite linear;
    }
    @keyframes heures {
        to {
            transform: rotate(1turn);
        }
    }
}
