html {
    box-sizing: border-box;
}
*, *:before, :after {
    box-sizing: inherit;
}

body {
    display: flex;
    min-height: 100vh;
    background: #fff;
}

.horloge {
    position: relative;
    width: 500px;
    height: 500px;
    margin: auto;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 15px #222222;
}

.heure, .heure-minutes {
    position: absolute;
    width: 2em;
    height: 1em;    
    left: calc(50% - 1em);
    top: 1em;
    transform-origin: center calc(250px - 1em);
}

.heure {
    top: 0.3em;
    font-size: 2em;
    font-weight: bold;
    -webkit-text-stroke-width: 5px;
    transform-origin: center calc(250px - 0.3em);
}

span {
    display: block;
    width: 2em;
    height: 1em;
    text-align: center;
}

@for $i from 1 through 60 {
    .heure-minutes:nth-child(#{$i}) {
        transform: rotate(#{$i * 6}deg);
    }
}

.aiguille {
    width: 0.5em;
    height: 200px;
    position: absolute;
    background: black;
    transform-origin: center bottom;

    &.secondes {
        width: 0.3em;
        background: red;
        animation: secondes 60s infinite linear;
        transform-origin: center 80%;
        top: 90px;
        left: 248px;
        &.secondes::before {
            content: "";
            width: 40px;
            height: 40px;
            position: absolute;
            top: -40px;
            left: -20px;
            background: inherit; 
            border-radius: 50%;
        }
    }

    @keyframes secondes {
        to {
            transform: rotate(1turn);
        }
    }

    &.minutes {
        width: 0.7em;
        height: 240px;
        top: 10px;
        left: 246px;
        animation: minutes 3600s infinite linear;
        z-index: 10;

        &.minutes::before {
            content: "";
            width: 40px;
            height: 40px;
            position: absolute;
            top: 220px;
            left: -17px;
            background: #222222;
            border-radius: 50%;
        }
    }
    @keyframes minutes {
        to {
            transform: rotate(1turn);
        }
    }

    &.heures {
        width: 1em;
        height: 150px;
        top: 100px;
        left: 242px;
        animation: heures 43200s infinite linear;
    }
    @keyframes heures {
        to {
            transform: rotate(1turn);
        }
    }
}
